* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  position: relative;
}

header nav {
  width: 100%;
  height: fit-content;
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgba(197, 223, 236, 0.856)
  );
}

header nav ul {
  width: 50%;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: auto;
}

header nav ul li {
  font-size: 18px;
  padding: 1rem;
  transition: all 0.3s linear;
}

header nav ul li a {
  color: black;
  text-decoration: none;
  display: flex;
}

header nav ul li:hover {
  transition: 0.5s;
  background-color: #50b2cf70;
  height: fit-content;
}

select,
select.active {
  background-color: rgba(255, 255, 255, 0.014);
  border-style: none;
}

main {
  animation: login 2s 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0.5rem;
}

main section.left {
  -webkit-box-flex: 3;
  -ms-flex: 3 1 500px;
  flex: 3 1 500px;
}

main section.left h1 {
  font-size: 4rem;
  color: #1e81b0;
}

main section.left p {
  font-size: 1.5rem;
  padding: 1rem 0rem;
}

main section.right {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 550px;
  flex: 1 1 550px;
  position: relative;
}

main section.form {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 500px;
  flex: 1 1 500px;
}

main section.form form {
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 1rem;
}

main section.form form div {
  margin: 0.5rem;
}

main section.form form div label {
  font-size: 1.5rem;
  margin-right: 1rem;
}

main section.form form div input,
main section.form form div textarea {
  background-color: rgba(30, 130, 176, 0.25);
  color: black;
  font-size: 1.25rem;
  padding: 0.25rem 0.25rem;
  border: none;
  width: 70%;
}

main section.form form div textarea {
  vertical-align: top;
}

main section.form form button {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  background-color: #1e82b0;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.5em 1.5rem;
  font-size: 1.5rem;
  border-radius: 20px;
}

main div.line {
  background-color: #3a8fb6ea;
  width: 5px;
}

main section.contact {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 550px;
  flex: 1 1 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem;
}

main section.contact div.content h2 {
  margin: 1rem 0rem;
}

.active {
  color: #1e81b0;
}

@media screen and (max-width: 800px) {
  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0%;
  }
  header nav ul li {
    padding: 0.5rem 0rem;
    border-bottom: 2px solid gray;
  }
}

@keyframes login {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=sample09.css.map */
